@using Identity.Models.Entities.ClientGrantTypeEntity
@using Newtonsoft.Json
@model Identity.Models.ApiModels.ClientApiModels.CreateClientApiModel

@{
    ViewData["Title"] = "Create Client";
}

<h1>Create Client</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateClientAsync">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RequirePkce" /> @Html.DisplayNameFor(model => model.RequirePkce)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" checked="checked" asp-for="AllowOfflineAccess" /> @Html.DisplayNameFor(model => model.AllowOfflineAccess)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AlwaysSendClientClaims" /> @Html.DisplayNameFor(model => model.AlwaysSendClientClaims)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LastAccessed" class="control-label"></label>
                <input asp-for="LastAccessed" class="form-control" />
                <span asp-validation-for="LastAccessed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedirectUris" class="control-label"></label>
                <textarea asp-for="RedirectUris" class="form-control"></textarea>
                <span asp-validation-for="RedirectUris" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostLogoutRedirectUris" class="control-label"></label>
                <textarea asp-for="PostLogoutRedirectUris" class="form-control"></textarea>
                <span asp-validation-for="PostLogoutRedirectUris" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span asp-validation-for="AllowedScopes" class="text-danger"></span>
                <label asp-for="AllowedScopes" class="control-label"></label>
                <textarea asp-for="AllowedScopes" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <span asp-validation-for="Claims" class="text-danger"></span>
                <label asp-for="Claims" class="control-label"></label>
                <textarea asp-for="Claims" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <span asp-validation-for="AllowedCorsOrigins" class="text-danger"></span>
                <label asp-for="AllowedCorsOrigins" class="control-label"></label>
                <textarea asp-for="AllowedCorsOrigins" class="form-control"></textarea>
            </div>
            
            <div class="form-group">
                <label asp-for="AllowedGrantTypes" class="control-label"></label>
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                        @{
                            var cnt = 0;
                            var grantTypes = new List<string>();
                            grantTypes.Add(GrantTypes.Hybrid);
                            grantTypes.Add(GrantTypes.Implicit);
                            grantTypes.Add(GrantTypes.AuthorizationCode);
                            grantTypes.Add(GrantTypes.ClientCredentials);
                            grantTypes.Add(GrantTypes.DeviceFlow);
                            grantTypes.Add(GrantTypes.ResourceOwnerPassword);
                            
                            foreach (var gt in grantTypes)
                            {

                                if (cnt++ % 1 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                <label>
                                <input type="checkbox"
                                       name="AllowedGrantTypes"
                                       value="@gt"/>
                                </label>
                                        @gt
                                @:</td>
                            }
                            @:</tr>

                        }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateClientAsync" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
