@model Identity.Models.ApiModels.ClientApiModels.ClientGetCompleteApiModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirePkce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirePkce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowOfflineAccess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllowOfflineAccess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlwaysSendClientClaims)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlwaysSendClientClaims)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastAccessed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastAccessed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedGrantTypes)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Grant Types</th>
                </tr>
                @foreach (var item in Model.AllowedGrantTypes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrantType)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedirectUris)
        </dt>
        <dd class = "col-sm-10">
            <table class="table">
                <tr>
                    <th>Redirect Uris</th>
                </tr>
                @foreach (var item in Model.RedirectUris)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RedirectUri)
                        </td>
                    </tr>
                }
            </table>            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostLogoutRedirectUris)
        </dt>
        <dd class = "col-sm-10">
            <table class="table">
                <tr>
                    <th>PostLogoutRedirect Uris</th>
                </tr>
                @foreach (var item in Model.PostLogoutRedirectUris)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostLogoutRedirectUri)
                        </td>
                    </tr>
                }
            </table>            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedScopes)
        </dt>
        <dd class = "col-sm-10">
            <table class="table">
                <tr>
                    <th>Allowed Scopes</th>
                </tr>
                @foreach (var item in Model.AllowedScopes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Scope)
                        </td>
                    </tr>
                }
            </table>            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Claims)
        </dt>
        <dd class = "col-sm-10">
            <table class="table">
                <tr>
                    <th>Value</th>
                </tr>
                @foreach (var item in Model.Claims)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                    </tr>
                }
            </table>             
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllowedCorsOrigins)
        </dt>
        <dd class = "col-sm-10">
            <table class="table">
                <tr>
                    <th>Origins</th>
                </tr>
                @foreach (var item in Model.AllowedCorsOrigins)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Origin)
                        </td>
                    </tr>
                }
            </table>             
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
